* {
    font-family: "roboto";
}
h1 {
    color:red;
}

#name {
    font-size: 45px;
    margin-bottom: 15px;    
}

#tittle {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
}

.description {
    max-width: 75%;
    margin-bottom: 10px;
    
}